.cls-1 {
    fill: url(#linear-gradient-2);
}

.cls-2 {
    fill: #8495c0;
}

.cls-3 {
    fill: #eaa7a2;
}

.cls-4 {
    fill: #acd4b1;
}

.cls-5 {
    fill: #6da576;
}

.cls-6 {
    fill: #b9c3dc;
}

.cls-7 {
    fill: #c16991;
}

.cls-7,
.cls-8 {
    opacity: .5;
}

.cls-9 {
    fill: #aa858d;
}

.cls-10 {
    fill: #fff;
}

.cls-11 {
    fill: #f6e37d;
}

.cls-12 {
    fill: url(#linear-gradient-4);
}

.cls-13 {
    fill: #8ebc92;
}

.cls-14 {
    fill: url(#linear-gradient-3);
}

.cls-15 {
    fill: #c3b9d4;
}

.cls-16 {
    fill: #9cc0d0;
}

.cls-17 {
    fill: #6aa9bf;
}

.cls-18 {
    fill: #d3979e;
}

.cls-19 {
    fill: #dde195;
}

.cls-20 {
    fill: #ffc3a7;
}

.cls-8 {
    fill: #edfcf9;
}

.cls-21 {
    fill: #e1f4f0;
}

.cls-22 {
    fill: #fe8968;
}

.cls-23 {
    fill: #9585b6;
}

.cls-24 {
    fill: #fedd72;
}

.cls-25 {
    fill: #ad8696;
}

.cls-26 {
    fill: #ebeec3;
}

.cls-27 {
    fill: #fb757e;
}

.cls-28 {
    fill: #c8a8cd;
}

.cls-29 {
    fill: #aace84;
}

.cls-30 {
    fill: #9e6aa8;
}

.cls-31 {
    fill: #94d0e0;
}

.cls-32 {
    fill: #dbaac0;
}

.cls-33 {
    opacity: .44;
}

.cls-34 {
    fill: #966e82;
}

.cls-35 {
    fill: url(#linear-gradient);
}

.cls-36 {
    fill: #c9e2df;
}

.cls-37 {
    fill: #a07a89;
}